<p id="notice"><%= notice %></p>

<% a=@user.user_times.last.arrival_time.localtime%>
<% if a.strftime("%H:%M:%S :%z") > ("10:00:00 +0530") %>
	<font color="red" , size="5px" ><%="You Are Late!!!"%></font>
<% else %>
	<font color="green" , size="5px"><%="You Arrived On Time!!"%></font>
<%end%>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong> 
  <% if @user.role == true %>
   		<%= "Admin " %>
  <% else %>	
  		<%= "Employee " %>
  <%end%>
</p>

<p>
<strong>Arrival Time : </strong>
<%= @user.user_times.last.arrival_time.localtime %>

</p>
<br>
<br>

<fieldset>
<h3><%="#{@user.name}'s arrival time:"%></h3>
<table border="1">
  <thead>
    <tr>
      <th>User Login Time</th>
    </tr>
  </thead> 

  <tbody>
   
      <tr>
          <% @user.user_times.map do |e| %>
          <td><%=e.arrival_time.localtime%></td>
          
       </tr>
     <%end%>
  
  </tbody> 
</table>
 </fieldset>
 <br><br>
  <% a= @user.user_times.map{|e|e.arrival_time.localtime.strftime("%H:%M")}%>
 <%= "The average arrival time for #{@user.name} is  #{@user.average_time(a)}"%>
 <br>
 <br>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'logout', users_path %>
